[submodule "third_party/zopfli"]
	path = third_party/zopfli
	url = git://github.com/google/zopfli.git
[submodule "third_party/libimagequant"]
	path = third_party/libimagequant
	url = git://github.com/pornel/improved-pngquant.git
